<h1>My Applications</h1>

<% @bookings.each do |booking| %>
<p> User: <%= booking.user_id %></p>
<p> Job: <%= booking.job_id %></p>
<% end %>

<%= link_to "Create Another Application", new_job_path %>