<div class="container p-3">
    <h1>My Interpretation Jobs</h1>

    <div class="cards pb-4">
        <%= render partial: 'card', collection: @bookings, as: :booking %>
    </div>


<%= link_to "Apply For Another Interpretation Job", jobs_path, class: "btn btn-flat" %>

</div>