<div class="container p-3">
<div class="row">
    <div class="col-sm-12">
        <h1 class="my-4">Job Board</h1>
        <h3>View all open jobs</h3>

        <form novalidate="novalidate" class="simple_form search mb-5" action="/" accept-charset="UTF-8" method="get">
            <div class="input-group">
                <input class="form-control" type="text" name="search[query]" id="search_query" placeholder="Search jobs">
                <div class="input-group-append">
                    <button class="btn btn-flat" type="submit">      <i class="fas fa-search"></i> Search
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>




    <div class="cards">
        <%= render partial: 'job', collection: @jobs, as: :job %> 
    </div>

</div>
