<h1>My Job Requests</h1>

    <div class="cards pb-4">
        <%= render partial: 'card', collection: @bookings, as: :booking %>
    </div>

 <%= link_to "Post Another Job", new_job_path, class: "btn btn-flat"%>



